@use "../../styles/vars";
.connexion__content {
  font-family: vars.$fontText;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: aqua;
}
.login {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 26rem;
  height: 30rem;
  border-radius: 1rem;
  align-items: center;
  gap: 1rem;
  font-family: vars.$fontText;

  h1 {
    padding: 4rem;
  }
}

.login-form {
  width: 100%;
  &-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-message {
    margin: 0.3em 1em;
  }

  &-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-button {
    font-size: 15px;
    color: #fff;
    background-color: rgba(194, 232, 217, 0.36);
    border-radius: 10px;
    border: 0;
    padding: 0.7em;
    height: 2.5em;
    width: 7rem;
    &:hover{
      background-color: vars.$logoSidebar;
    }
  }
}
