@use "../../../../styles/vars";
.overviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
    gap: 0.7rem;
}
.title {
    margin-left: 25px;
    font-family: vars.$fontTextCorp;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    // margin: 10px 0 10px 30px;
}
.overview {
    display: flex;
    gap: 10px;
    margin-left: 2rem;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: 10rem;
    box-shadow: 1px 1px 3px 1px rgb(225 225 225 / 67%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: rgb(255 236 199 / 66%);
    justify-content: space-between;
    padding-left: 7px;
    max-width: 340px;
    background-color: oldlace;


    &__title {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-left: 9px;
        gap: 7px;
        font-family: vars.$fontText;
        color: gray;
        opacity: 0.8;
        font-size: 13px;
    }
    &__number {
        font-family: vars.$fontTextCorp;
        font-weight: bold;
        font-size: 35px;
        padding-left: 15px;
        padding-bottom: 2rem;
        &::after {
            content: "";
            width: 42px;
            height: 2px;
            background-color: orange;
            position: absolute;
            bottom: 17px;
            left: 17.5px;
        }
    }

    &__icons {
        color: orange;
        height: 20px;
        width: 20px;
    }
}
