@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
$logoSidebar: #67a191; 
$menu: #ffffff; 
$textColorHover: #89bfaa; 
$textColor: #828282; 
$bgContent: #f4f9f4; 
$fontText: 'Ubuntu Condensed', sans-serif;
