@use "./../../styles/vars";

.content {
    padding-left: 222px;
    // background-color: rgba(221, 221, 221, 0.137);
    height: 100vh;
}

.inscriptionTest {
    background-color: #b8d6f2;
    margin: 2rem;
    padding: 1rem;
}
.content__connexion {
    height: 100vh;
    // background-color: red;
}
