@use "./../../styles/vars";

.content {
    padding-left: 250px;
    // background-color: rgba(221, 221, 221, 0.137);
    height: 100vh;
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
