.content__qr {
    // height: 100vh;
    width: 100%;
    // background-image: url("https://img.freepik.com/photos-premium/fond-gris-nature-elegance-abstraite_127755-912.jpg");
    // background-size: cover;
    // // border: 6px solid red;
    // background-repeat: no-repeat;
    position: relative;

    img {
        img {
            width: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
}

.qrCode__reader {
    // height: 100 !important;
    border-top: 1px solid white;
    div {
        width: auto !important;
        padding-top: 360px !important;
        overflow: auto !important;
        position: relative;
        top: 7.5rem;
    }
    #video {
        width: auto !important;
        // min-height: 200px !important;
        // height: 600px !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        border-radius: 40px;
        border: 1px solid #00b281;
    }
}
@media (max-width: 600px) {
    .content__qr {
        // height: 100vh;
    }
}
