@use "./../../../styles/vars";

.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    // margin-top: 2rem;

    &__input {
        width: 30vh;
        padding: 11px;
        border: none;
        background-color: #f7f7f7;
        border-radius: 30px;
        padding-left: 40px;
        margin-left: 30px;
    }
}

.homeDisplayAcces{
    display: flex;
    // gap: 2px ;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}
.logo__search {
    position: absolute;
    left: 268px;
    opacity: 0.5;
    font-family: vars.$fontText;
    color: vars.$textColor;
}
.header__page--home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.backgroundHeader{
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(245, 251, 249) 40%);

}

.messageHome {
    // background-color: aqua;
    margin: 30px 30px 0px 30px;
    font-weight: bold;
    font-family: vars.$fontTextCorp;
    font-size: 25px;
}

.content__displayChoice{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
}
