@use "../../../../styles/vars";

.profile-section {
    font-family: vars.$fontText;

    padding: 1rem;
    background-color: #b8d6f2;
    color: #000;
    width: 284px;
    border-radius: 0.5rem;

    .titleProfilePictureSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #fff;
        width: 100%;
        h3{
            color:rgb(0, 0, 0);
            font-size: 18px;

        }
    }

    .profile-image {
        text-align: center;
        margin-top: 1.25rem;

        img {
            border-radius: 50%;
            object-fit: cover;
            color: transparent;
            width: 150px;
            height: 150px;
        }
    }

    .file-input-section {
        border-radius: 0.5rem;
        overflow: hidden;
        margin-top: 1.25rem;

        .dashed-box {
            width: 100%;
            margin-top: 1.25rem;
            position: relative;
            height: 6rem;
            border-radius: 0.5rem;
            border: 2px dashed #3490dc;
            background-color: #f3f4f6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            svg {
                color: #3490dc;
            }

            span {
                color: #718096;
                font-weight: normal;
            }

            input {
                height: 100%;
                width: 100%;
                opacity: 0;
                position: absolute;
            }
        }
    }
    .items-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .edit-button {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;

        button {
            padding: 1rem 2rem;
            background-color: #3490dc;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 0.25rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: #2176ae;
            }
        }
    }
}
