@use "../../../../styles/vars";

// Calendrier.scss

.calendrier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .react-calendar {
    border: 2px solid #abddff;
    border-radius: 10px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__tile {
    padding: 10px;
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
    border: 1px solid #ecf0f1;
  }
  
  .react-calendar__tile--now {
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
  }
  
  .react-calendar__tile--active {
    background-color: #2980b9;
    color: #fff;
    border-radius: 50%;
  }
  
  .react-calendar__tile--hover {
    background-color: #bdc3c7;
    cursor: pointer;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #e74c3c;
  }
  
  /* Add more styles as needed */
  